/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@import "style.css";

@prince-pdf {
  -prince-pdf-page-layout: single-page;
  -prince-pdf-profile: "PDF/A-3a";
  -prince-pdf-duplex: duplex-flip-long-edge;
}
