/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@import "style.css";

:root {
  --font: 'APHont';
  --font-header: 'APHont';
  --cardsize: 48pt;
  --color-accent: black;
  --color-pagenum: black;
  --color-footnote: black;
  --body:      15pt;
  --larger:    17pt;
  --smaller:   14pt;
  --small:     13pt;
  --large:     19pt;

  --title:     64pt;
  --subtitle:  36pt;
  --subsubtitle: 28pt;
  --h1:        36pt;
  --h2:        26pt;
  --h3:        24pt;
  --h4:        22pt;
  --h5:        20pt;
  --h6:        19pt;
  --th:        15pt;
  --pagenum:   28pt;
  --toolkit:    9pt;
  --morethanone: 11pt;
  --cardsize: 28pt;
}

#toc { column-count: 1; float: none; }
#toc li { margin-bottom: 9pt; }
@page { @bottom-center { content: normal; } }
.sidebar { float: none; background: none; border: none; }
:matches(.ora, .carline, .fox, .dera, .spin, .val) { float: none; }
#cover :matches(h1, h2, h3) { color: black; }
#cover { background: white; }
#cover img { display: none; }
#toc a:after { content: ' page ' target-counter(attr(href), page); }
.gamename:before { font-size: 100%; }
.namelist, .pronounlist { column-count: 1; }
.cardstacks { margin-left: 24pt; margin-right: 24pt; } 
.spectrum { display: none; }
.breakbefore { break-before: auto; }
