/* base css file for TTRPG projects */
/* Reminder: 1in = 72 pt; 0.75in = 54pt; 0.5in = 36pt; 0.25in = 18pt; 0.125in = 9 pt; */

@page         { margin-top: 48pt; margin-bottom: 54pt; }
/* @page      { size: letter portrait; margin: 18pt; } */
header        { display: none;                       }
header p.date { string-set: date content()           }
header h1     { string-set: gamename content()       }

@page:left { margin-left: 192pt; margin-right: 96pt; }
@page:right { margin-right: 192pt; margin-left: 96pt; }

@page { @footnote { position: absolute; width: 138pt; vertical-align: bottom; bottom: 68pt; } }

@page :left  { @footnote { left: -160pt; } }
@page :right { @footnote { right: -168pt; } }

*::footnote-marker {
  font-weight: bold;
  color: var(--color-accent); 
}

*::footnote-call { 
  content: counter(footnote);
  font-size: 75%;
  vertical-align: super;
  font-weight: bold;
  color: var(--color-accent); 
  line-height: none;
}

@prince-pdf {
  -prince-pdf-page-layout: two-column-right;
  -prince-pdf-profile: "PDF/A-3a+PDF/UA-1";
/*
  -prince-pdf-profile: "PDF/A-1a+PDF/UA-1";
  -prince-pdf-profile: "PDF/A-1a";
  -prince-pdf-profile: "PDF/A-1b";
  -prince-pdf-profile: "PDF/A-2a";
  -prince-pdf-profile: "PDF/A-2b";
  -prince-pdf-profile: "PDF/A-3a";
  -prince-pdf-profile: "PDF/A-3b";
  -prince-pdf-profile: "PDF/UA-1";
  -prince-pdf-profile: "PDF/X-1a:2001";
  -prince-pdf-profile: "PDF/X-1a:2003";
  -prince-pdf-profile: "PDF/X-3:2002";
  -prince-pdf-profile: "PDF/X-3:2003";
  -prince-pdf-profile: "PDF/X-4";
  -prince-pdf-profile: "PDF/A-3a+PDF/UA-1";
*/
}

:root {
  --font: "Bellefair";
  --font-header: "Cherry Swash";
  --font-toolkit: "Montserrat";
  --font-cards: 'Unicode Upper';

  --icon-thin: 'Font Awesome 5 Free Regular';
  --icon-solid: 'Font Awesome 5 Free Solid';
  --icon-game: 'game-icons';
  --font-emoji: 'Noto Color Emoji';
  --font-suits: 'Noto Emoji';
  --font-dyslexic: 'Open Dyslexic';

  --body:      12pt;
  --larger:    13pt;
  --smaller:   11pt;
  --small:     10pt;
  --large:     14pt;

  --title:     64pt;
  --subtitle:  36pt;
  --subsubtitle: 28pt;
  --h1:        36pt; 
  --h2:        20pt;
  --h3:        18pt;
  --h4:        15pt;
  --h5:        13pt;
  --h6:        12pt;
  --th:        11pt;
  --pagenum:   28pt;
  --toolkit:    9pt; 
  --morethanone: 11pt;
  --cardsize: 24pt; 

  --color-accent: cadetblue;
  --color-pagenum: cadetblue;
  --color-line:    cadetblue;
  --color-light:   silver;
  --color-toolkit: #006600;
  --color-footnote: gray;

  --bgcolor-sidebar: #EEEEEE;
  --bgcolor-toolkit: #F8FFF8;

  counter-reset: table figure sidebar footnote;
}

body               { font-family: var(--font); font-size: var(--body);      }
td                 { font-size: var(--body); vertical-align: top;           }
th                 { font-family: var(--font-header); font-size: var(--th); }
h1                 { font-family: var(--font-header); font-size: var(--h1); }
h2                 { font-family: var(--font-header); font-size: var(--h2); }
h3                 { font-family: var(--font-header); font-size: var(--h3); }
h4                 { font-family: var(--font-header); font-size: var(--h4); }
h5                 { font-family: var(--font-header); font-size: var(--h5); }
h6                 { font-family: var(--font-header); font-size: var(--h6); }
h1                 { break-after: avoid-page; break-inside: avoid;          }
h1, h2, h4         { color: var(--color-accent);                            }
h2, h3, h4, h5, h6 { break-inside: avoid; break-after: avoid;               }
h3                 { border-bottom: 0.75pt solid var(--color-accent);       }
h5                 { font-style: italic; }
h1                 { margin-bottom: 0pt; }
h2                 { margin-top: 9pt; margin-bottom: 6pt; }
h3                 { margin-top: 9pt; margin-bottom: 6pt; }
h4                 { margin-top: 9pt; margin-bottom: 6pt; }
h5                 { margin-top: 9pt; margin-bottom: 6pt; }
h6                 { margin-top: 9pt; margin-bottom: 6pt; }
p                  { margin-top: 3pt; margin-bottom: 6pt; }
h1                 { column-span: all; text-align: center;                  }
.breakbefore       { break-before: page;                                    }
.colbefore         { break-before: column;                                  }
.nobreak           { break-before: avoid-page;                              }
.nocolbreak        { break-before: avoid-column;                            }
.colspan           { column-span: all;                                      }
.bottom            { column-span: all; float: page-bottom;                  }
p+table            { break-before: avoid-page;                              }
p+p                { text-indent: 1.5em; }
table              { border-collapse: collapse; break-inside: avoid-page;   }
table              { margin-bottom: 9pt; }
p                  { margin-top: 6pt; margin-bottom: 9pt; }
table tr           { break-inside: avoid-page;                              }
table thead        { break-after: avoid;                                    }
table thead        { border-bottom: 0.5pt solid var(--color-line);          }
table th, table td { padding: 2pt;                                          }
table th           { vertical-align: bottom;                                }
table td           { vertical-align: top;                                   }
table              { width: 100%;                                           }
h3, h4, h5, h6     { font-weight: normal; }

h1, h2, h3, h4, h5, h6 { string-set: section content(); }

h2:first-of-type { break-before: avoid; }
h2 { break-before: page; }

#cover + h1 { counter-reset: page; counter-increment: page; }
#cover + h1 { break-before: right; }

li           { break-inside: avoid; }
ul, ol       { margin-left: 1em;    margin-top: 6pt; margin-bottom: 6pt; }
ul li, ul ol { margin-left: 1em;    }

.sidebar p { margin-top: 6pt; margin-bottom: 0; }
.sidebar { 
  float-placement:   top;
  float-reference:   column;
  border:            0.5pt solid var(--color-line);
  border-radius:     3pt;
  padding-left:      9pt;
  padding-right:     9pt;
  padding-bottom:    6pt;
  margin-bottom:     9pt;
  background:        var(--bgcolor-sidebar);
}

.sidebar.next { float-defer-column: 1;                                                    }
.sidehead     { font-weight: bold; font-family: var(--font-header); font-size: var(--h4); }

img { -prince-image-resolution: 96;
      -prince-image-magic: recompress(50%) convert-to-jpeg(50%) snap-to-integer-coords; } 

p, li { orphans: 3; line-height: 1.40; }

@page { @left-bottom { 
  font-family:     var(--font-header);
  font-size:       var(--big);
  font-size:       var(--pagenum);
  text-align:      center;
  color: var(--color-pagenum);
} }

@page { @right-bottom {
  font-family:     var(--font-header);
  font-size:       var(--big);
  font-size:       var(--pagenum);
  text-align:      center;
  color: var(--color-pagenum);
} }

@page:left  { @left-bottom  { content: counter(page); } } 
@page:right { @right-bottom { content: counter(page); } } 

@page:nth(3) { margin-left: 96pt; margin-right: 96pt; }
@page:nth(4) { margin-left: 60pt; margin-right: 96pt; }
@page:nth(3) { @right-bottom { margin-left:  -96pt; } }
@page:nth(4) { @left-bottom  { margin-right: -134pt; } }

@page { @bottom-center {
  content:         'Version ' string(date);
  font-family:     var(--font);
  font-size:       var(--small);
  margin-top:      18pt;
  margin-bottom:   18pt;
  color:           var(--color-light);
  text-align:      center;
} }

table caption     { counter-increment: table; display: block; font-size: var(--th); font-family: var(--font-header);       }
.sidehead         { counter-increment: sidebar;                                                                       }
.chapter          { counter-increment: chapter;                                                                       }
.section          { counter-increment: section;                                                                       }

figure caption:before    { content: 'Table ' counter(table) ': ';   }

.section > :matches(h1, h2, h3, h4, h5, h6):first-child:before { content: 'Section ' counter(section) ': ';        }
.chapter > :matches(h1, h2, h3, h4, h5, h6):first-child:before { content: 'Chapter ' counter(chapter) ': ';        }

#toc { column-count: 2; column-gap: 16pt; column-width: auto; }
#toc { background: none; border: none; }
#toc .sidehead { column-span: all; display: block; margin-bottom: 9pt; }
#toc { float: page top; float-defer-page: 1; }
#toc a:before       { content: target-content(attr(href)) ' ';                        }
#toc a:after        { content: leader('. ') target-counter(attr(href), page);         }
#toc ul             { margin: 0; break-inside: auto;                             }
#toc ul li          { list-style-type: none; line-height: 1.1; break-inside: auto;    }
#toc ul ul li       { margin-left: 8pt; font-weight: normal; break-inside: avoid;     }
#toc ul ul ul li    { font-size: var(--smaller);                                      }
#toc ul ul ul ul li { font-size: var(--small); font-style: italic; }
#toc > ul > li      { font-weight: bold; margin-bottom: 4pt; margin-left: 0; font-size: var(--larger); }
#toc ul ul  { margin-top: 4pt; } 
#toc ul ul ul { margin-bottom: 4pt; break-after: avoid-column; }
a:link,
a:visited,
a:active,
a:hover { color: black; text-decoration: none; }
#toc > ul > li a { color: var(--color-accent); }
#toc > ul > li li a { color: black; } 

#toc ul { -prince-pdf-tag-type: TOC; }
#toc li { -prince-pdf-tag-type: TOCI; }

.tstoolkit strong { white-space: pre; color: var(--color-toolkit); }
.tstoolkit .icon { white-space: pre; color: var(--color-toolkit); font-weight: bold; }
.tstoolkit .icon:after { 
  font-family: var(--icon-solid); 
  padding-left: 0.25em; 
  display: inline-block; 
  font-weight: normal; 
  line-height: none; 
  font-size: 87%; 
  margin-left: -1.7em; /* 1.5 * 1 / 87% */
}

.tstoolkit .rewind:after { content: '\f04a'; }
.tstoolkit .ff:after     { content: '\f050'; }
.tstoolkit .pause:after  { content: '\f04c'; }
.tstoolkit .resume:after { content: '\f04b'; }

.license { column-span: all; column-count: 3; column-gap: 12pt; font-size: var(--small); page: license; }


.license h2      { font-size: var(--large); column-span: all; margin-top: 0; margin-bottom: 3pt; color: black; }
.license h3      { font-size: var(--larger);          }
.license li      { break-inside: auto;                }
.license > ol    { margin-left: 9pt;                  }
.license > ol ol { margin-left: 6pt;                  }
.license > ol li { margin-left: 6pt;                  }
.license ol p    { margin-top: 0; margin-bottom: 2pt; }
.license p       { text-align: justify;               }

@page license    { margin: 48pt 36pt; padding: 0; }
@page license { @left-bottom { content: normal; } @right-bottom { content: normal; } }

.gamename:before { 
  font-family: var(--font-header); 
  content: string(gamename); 
  line-height: none; 
  font-size: 85%; 
  color: var(--color-accent); 
}

:matches(h1, h2, h3, h4, h5, h6) .gamename:before { font-size: 100%; }

p+p .cw { margin-left: -1.0em; }

.cw:before {  /* content warning */
  font-family: var(--icon-solid);
  content: '\f071';
  display: inline-block;
  margin-right: 0.5em;
  color: #f5c71a;
  line-height: none;
}

.inclu:before { /* notes on inclusion */
  font-family: var(--icon-solid);
  content: '\f0ac';
  display: inline-block;
  margin-right: 0.5em;
  color: #BB00BB;
  line-height: none;
}

@page :first { margin: 0; }
@page :first { @bottom-center { content: normal; } @right-bottom { content: normal; } @left-bottom { content: normal; } }

#cover { break-after: page; width: 8.5in; height: 11in; position: relative; background: black; }
#cover :matches(h1, h2, h3) {
  position: absolute; 
  left: 1in; 
  width: 6.5in; 
  text-align: center; 
  color: white;
}

#cover h1 { top: 1.0in; font-size: var(--title); }
#cover h2 { top: 8.25in; font-size: var(--subtitle); }
#cover h3 { top: 9.0in; font-size: var(--subsubtitle); border-bottom: none; }

#cover img { position: absolute; top: 3.0in; left: 1.0in; width: 6.5in; height: auto; }

@page:blank { @left-bottom { content: normal; } }
@page:nth(2) { @left-bottom { content: 'i'; } }

.lexicon dt { break-after: avoid; }

.systemlist { break-before: avoid; break-inside: avoid; }
.systemlist dl { margin-left: 24pt; margin-right: 24pt; }

:matches(.spin, .dera, .carline, .ora, .val, .fox) { 
  color:         var(--color-footnote);
  float:         footnote; 
  line-height:   1.25; 
  display:       inline-block; 
  margin-bottom: 12pt; 
  text-indent:   0; 
}
   .spin:after { content: '\1f300'; }
   .dera:after { content: '\1f4e1'; }
.carline:after { content: '\1f343'; }
    .ora:after { content: '\1f339'; }
    .val:after { content: '\1f517'; }
    .fox:after { content: '\1f98a'; }

p+p :matches(.emoji-spin, .emoji-dera, .emoji-carline, .emoji-ora, .emoji-val, .emoji-fox) { 
  margin-left: -1.0em; 
}

:matches(.emoji-spin, .emoji-dera, .emoji-carline, .emoji-ora, .emoji-val /*, .emoji-fox */) { 
  font-family: var(--font-emoji); 
  line-height: none; 
}
   .emoji-spin { content: '\1f300'; }
   .emoji-dera { content: '\1f4e1'; }
.emoji-carline { content: '\1f343'; }
    .emoji-ora { content: '\1f339'; }
    .emoji-val { content: '\1f517'; }
    .emoji-fox { content: '\1f98a'; }  /* for some reason this doesn't throw an error when 🦊 is excluded from font */

.morethanone .bigpara { font-size: var(--h4); }
.morethanone ul { margin-top: 6pt; margin-bottom: 6pt; font-style: italic; }
.morethanone .seealso { content: 'See also:'; font-style: italic; }
.morethanone ul li { list-style-type: '-'; }
.morethanone a:link, .morethanone a:visited, .morethanone a:active { color: black; text-decoration: underline; }

.lorem { content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ' 
	          'ornare ex nisi, sit amet aliquet libero bibendum non. Curabitur sed '
		  'ligula eu mi laoreet ornare. Ut tempor pretium ex. Etiam eu semper '
		  'arcu sem gravida metus, at vestibulum erat augue vel ante.'; }

.sheetpage { 
  page: charsheet; 
  break-before: page; 
  height: 11in; 
  width: 8.5in; 
  column-count: 2; 
  column-gap: 0; 
  column-width: auto; 
}

@page charsheet { margin: 0; padding: 0;}
@page charsheet { @left-bottom { content: normal; }  @right-bottom { content: normal; } }

.sheetpage .sheet.wide { 
  column-span: all; 
  column-count: 2;
  column-width: auto;
  column-gap: 9pt;
}
.sheetpage .sheet { 
  position: relative;
  margin: 0; 
  padding: 18pt; 
  height: 5.5in; 
  display: block; 
  border: none; 
  box-sizing: border-box; 
}
.sheetpage .sheet:nth-child(5) { border-left: 0.5pt dashed gray; }
.sheetpage .sheet:nth-child(3n+3) { border-top: 0.5pt dashed gray; } 

.sheetpage .sheet:nth-child(5):before {
  content: 'cut here';
  color: gray;
  position: absolute;
  top: 192pt;
  left: -24pt;
  padding-left: 4pt;
  padding-right: 4pt;
  display: block;
  width: auto;
  background: white;
  transform: rotate(-90deg);
}

.sheetpage .sheet:nth-child(3n+3):before { 
  content: 'cut here';
  color: gray;
  position: absolute;
  top: -8pt;
  left: 288pt;
  padding-left: 4pt;
  padding-right: 4pt;
  display: block;
  width: auto;
  background: white;
}

.sheetpage .sheet .gamename:before { content: string(gamename) ' '; }

.sheetpage .sheet h3 { 
  margin-top: 0; 
  border-bottom: none;
  text-align: center;
}

.sheetpage .sheet.wide h3 {
  column-span: all;
}

.anchor { position: absolute; color: transparent; margin: 0; padding: 0; }

:matches( .clubs, .diamonds, .hearts, .spades) { 
  font-family: var(--font-suits); 
  line-height: none;
}

.clubs    { content: '\2663'; }
.hearts   { content: '\2665'; color: red; }
.diamonds { content: '\2666'; color: red; }
.spades   { content: '\2660'; }

.spectrum figure { float: top; margin-top: -48pt; margin-outside: -192pt; margin-bottom: 18pt; }
.spectrum figure img { width: 100%; height: 192pt; object-fit: cover; object-position: center; }

.spectrum figure img.bottom { object-position: bottom center; }
.spectrum figure img.top { object-position: top center; }

.spectrum figure figcaption { 
  position: absolute; 
  top: 160pt; 
  left: 0;
  right: 0;
  color: gray;
  margin-outside: -174pt;
  line-height: 1.25;
  margin-inside: 338pt;
  font-family: var(--font);
  font-weight: normal;
}

.cardhand   { font-size: var(--cardsize); text-align: center; vertical-align: bottom; }
.cardhand .card { display: inline-block; margin-left: -0.1em; margin-right: -0.1em; } 
.cardhand .card:nth-child(1) { transform: skew(15deg); }
.cardhand .card:nth-child(2) { transform: skew(7.5deg); }
.cardhand .card:nth-child(3) {  }
.cardhand .card:nth-child(4) { transform: skew(-7.5deg); }
.cardhand .card:nth-child(5) { transform: skew(-15deg); }

.cardgroup, .cardstacks { font-size: var(--cardsize); text-align: center; }
.card { font-family: var(--font-cards); }

.cardstacks { 
  border: 0.5pt solid var(--color-line);
  padding: 3pt; 
  margin-top: 3pt;
  margin-left: 72pt;
  margin-right: 72pt;
  margin-bottom: 3pt;
  border-radius: 6pt;
}

.cardmatrix table thead { border-bottom: none; }
.cardmatrix th { 
  font-size: var(--cardsize); 
  font-weight: normal; 
  border-bottom: 1pt solid var(--color-accent); 
}
.cardmatrix th:first-child { border-bottom: none; }

.cardmatrix td strong { color: green; }
.cardmatrix td em { color: red; }

.cardmatrix td { 
  border-right: 0.25pt solid silver; 
  border-bottom: 0.25pt solid silver; 
  padding: 4pt; 
  text-align: center; 
  vertical-align: middle;
}
.cardmatrix td:last-child { border-right: none; }
.cardmatrix tr:last-child td { border-bottom: none; }

.cardmatrix td:first-child { 
  font-size: var(--cardsize); 
  border-right: 1pt solid var(--color-accent);
  border-bottom: none; 
}

.card.s { color: black; }
.card.c { color: black; }
.card.d { color: red; }
.card.h { color: red; }

.card.s.gray { color: gray; }
.card.c.gray { color: gray; }
.card.d.gray { color: gray; }
.card.h.gray { color: gray; }

.card.s.ace    { content: '\1f0a1'; }
.card.s.deuce  { content: '\1f0a2'; }
.card.s.three  { content: '\1f0a3'; }
.card.s.four   { content: '\1f0a4'; }
.card.s.five   { content: '\1f0a5'; }
.card.s.six    { content: '\1f0a6'; }
.card.s.seven  { content: '\1f0a7'; }
.card.s.eight  { content: '\1f0a8'; }
.card.s.nine   { content: '\1f0a9'; }
.card.s.ten    { content: '\1f0aa'; }
.card.s.jack   { content: '\1f0ab'; }
.card.s.knight { content: '\1f0ac'; }
.card.s.queen  { content: '\1f0ad'; }
.card.s.king   { content: '\1f0ae'; }

.card.h.ace    { content: '\1f0b1'; }
.card.h.deuce  { content: '\1f0b2'; }
.card.h.three  { content: '\1f0b3'; }
.card.h.four   { content: '\1f0b4'; }
.card.h.five   { content: '\1f0b5'; }
.card.h.six    { content: '\1f0b6'; }
.card.h.seven  { content: '\1f0b7'; }
.card.h.eight  { content: '\1f0b8'; }
.card.h.nine   { content: '\1f0b9'; }
.card.h.ten    { content: '\1f0ba'; }
.card.h.jack   { content: '\1f0bb'; }
.card.h.knight { content: '\1f0bc'; }
.card.h.queen  { content: '\1f0bd'; }
.card.h.king   { content: '\1f0be'; }

.card.c.ace    { content: '\1f0c1'; }
.card.c.deuce  { content: '\1f0c2'; }
.card.c.three  { content: '\1f0c3'; }
.card.c.four   { content: '\1f0c4'; }
.card.c.five   { content: '\1f0c5'; }
.card.c.six    { content: '\1f0c6'; }
.card.c.seven  { content: '\1f0c7'; }
.card.c.eight  { content: '\1f0c8'; }
.card.c.nine   { content: '\1f0c9'; }
.card.c.ten    { content: '\1f0ca'; }
.card.c.jack   { content: '\1f0cb'; }
.card.c.knight { content: '\1f0cc'; }
.card.c.queen  { content: '\1f0cd'; }
.card.c.king   { content: '\1f0ce'; }

.card.d.ace    { content: '\1f0d1'; }
.card.d.deuce  { content: '\1f0d2'; }
.card.d.three  { content: '\1f0d3'; }
.card.d.four   { content: '\1f0d4'; }
.card.d.five   { content: '\1f0d5'; }
.card.d.six    { content: '\1f0d6'; }
.card.d.seven  { content: '\1f0d7'; }
.card.d.eight  { content: '\1f0d8'; }
.card.d.nine   { content: '\1f0d9'; }
.card.d.ten    { content: '\1f0da'; }
.card.d.jack   { content: '\1f0db'; }
.card.d.knight { content: '\1f0dc'; }
.card.d.queen  { content: '\1f0dd'; }
.card.d.king   { content: '\1f0de'; }

.card.joker { content: '\1f0df'; }
.card.joker.red { content: '\1f0bf'; color: red; }
.card.joker.black { content: '\1f0cf'; }

a.xref-section { content: 'the section "' target-content(attr(href url)) '" on page ' target-counter(attr(href url), page); }

a.xref-see:before { content: 'see '; font-style: normal; }
a.xref-see { content: target-content(attr(href url)); font-style: italic; }
a.xref-see:after { content: ' on page ' target-counter(attr(href url), page); font-style: normal; }
a.xref-page { content: 'page ' target-cunter(attr(href url), page); }

.pronounlist, .namelist { 
  column-count: 2;
  column-gap: 9pt;
  column-width: auto; 
}
